DATABASE_URL="postgresql://yourUsername:yourdbPass@localhost:5432/dbname?schema=public"
MYSECRET="YourSecret"
PORT=your Port
RESEND_API_KEY="your api key"
RESEND_FROM_EMAIL="youremail@gma.com"
GOOGLE_CLIENT_ID="your google client id"
GOOGLE_CLIENT_SECRET="google_client_Secret"
CORS_ORIGINS="your origin"
